body {
    font-family: serif;
    background-color: #3C3956;
}

.titulos {
    text-align:center;
    flex: 1;
}

.divDer {
    display: flex; 
    flex:1;
    background-color: #9A94B8;
    border-radius: 10px 100px / 120px;
    flex-direction: row;
    z-index: 4
}

.divIzq {
    display: flex; 
    flex:1 25px;
    background-color: #9A94B8;
    border-radius: 10px 100px / 120px;
    flex-direction: column;
    padding:20px;
    z-index: 2
}

.caja {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    height: auto;
}